{% extends 'base.html.twig' %}

{% block title %}Mes Contributions{% endblock %}

{% block body %}
<form method="post">
        <select name="position">
            <option>Selectionner un lieu </option>
            {% for data in datas.results %}
                <option value={{data.name}}>{{data.name}}</option>
            {% endfor %}
         </select>
            <button type="submit">Valider</button>
</form>
{% endblock %}